@font-face{
    font-family: 'CopyrightHouseIndustries';
    src: url('fonts/CopyrightHouseIndustries.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'GreatVibes';
    src: url('fonts/GreatVibes-Regular.otf');
    font-style: normal;
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
#main-heading{
    color: white;
    padding: 15px;
    font-size: 3rem;
    background-color: rgb(0, 0, 0, .9);
    text-align: center;
    font-family: 'GreatVibes';
}
.header{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    background-color:  rgb(0, 0, 0, .9);
    color: white;
}
.header > div{
    padding: 10px;
}
.header :hover{
    background-color: gray;
    cursor: pointer;
}
[data-tabs]{
    display: none;
}
.active-tab{
    background-color: gray;
}
.active[data-tabs]{
    display: block;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}
#home{
    text-align: center;
}
.heading{
    margin: 0;
    font-family: 'GreatVibes';
    font-size: 4rem;
    font-weight: 300;
}
.welcome-message{
    font-size: 2rem;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 1.3px;
}
.hours{
    font-size: 1.5rem;
    padding-top: 100px;
    font-weight: bolder;
}