@font-face{
    font-family: 'GreatVibes';
    src: url('fonts/GreatVibes-Regular.otf') format('otf');
    font-style: normal;
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
#main-heading{
    font-family: 'GreatVibes',sans-serif;
    color: white;
    padding: 15px;
    font-size: 3rem;
    background-color: black;
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(204, 204, 204);
}
.header > div{
    padding: 10px;
}
.header :hover{
    background-color: gray;
    cursor: pointer;
}
[data-tabs]{
    display: none;
}
.active-tab{
    background-color: gray;
}
.active[data-tabs]{
    display: block;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}